<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="TranslateText" value="Hi MateCat API! This is just test text. Please translate this message. Thanks in advance."/>

    <add key ="ProjectName" value="MateCat"/>
    <add key ="SourceLanguage" value="en-EN"/>
    <add key ="TargetLanguage" value="ru-RU"/>
    <add key ="UseMemoryServer" value="true"/>
    <add key ="UseMachineTranslation" value="true"/>
    <add key ="PrivateKey" value=""/>
    <add key ="SupportedSubject" value="General"/>
    <add key ="SegmantationRule" value="General"/>

    <add key ="ProjectId" value="191452"/>
    <add key ="ProjectPassword" value="e28b872bd5b5"/>
  </appSettings>
</configuration>